# API and IO options (http://github.com/histograph/api
api:
  # Absolute or relative directory on file system where API's IO module keeps uploaded
  #   NDJSON files. IO keeps __two__ copies of each file, please make sure HD has enough
  #   free space!
  dataDir: /path/to/data/dir
  admin:
    name: admin
    password: secret

# Import options (http://github.com/histograph/import)
import:
  # Array of absolute or relative paths to directories containing
  dirs:
    - /path/to/import/dir
